<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JournalWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <JournalWriter.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value>JournalData.xml</value>
            </setting>
            <setting name="ReaderFont" serializeAs="String">
                <value>Trebuchet MS</value>
            </setting>
            <setting name="ReaderFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ReaderHeadline1FontSize" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="ReaderHeadline2FontSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="JournalPath" serializeAs="String">
                <value>c:\Users\tiger\JournalStore</value>
            </setting>
            <setting name="ReaderHeadline3FontSize" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="ReaderHeadline4FontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ReaderHeadline5FontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ReaderCodingFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="ReaderCodingFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ReaderTextAlignment" serializeAs="String">
                <value>Justify</value>
            </setting>
        </JournalWriter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
